<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css?_cacheOverride=1574773860125" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>Read API</title>
    <style media="screen">
        .grid-container {
          display: grid;
          grid-template-columns: auto auto auto auto auto auto;
          padding: 10px;
        }
        .grid-item {
          /*border: 1px solid rgba(0, 0, 0, 0.8);*/
          padding: 20px;
          text-align: center;
        }

    </style>
</head>
<body>
    <div class="container my-5 text-center">
        <div class="row" >
            <div class="col-md-12 my-2 ">
              <button class="btn btn-danger w-100" onclick="getLista()">Obtener lista de restaurantes</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            	<!-- Lista de restaurantes  -->
            	<table class="table">
                  <thead>
                      <tr>
                      	<th><button onclick="nuevoRestaurante()" class="btn btn-success btn-sm" ><i class="fas fa-plus" aria-hidden="true"></i></button></th>
                      </tr>
                      <tr>
                          <th scope="col">#</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Dirección</th>
                          <th scope="col">Localidad</th>
                          <th scope="col">Puntuación</th>
                          <th scope="col">Votos</th>
                          <th scope="col">Descripción</th>
                      </tr>
                  </thead>
                  <tbody id="contenido"></tbody>
              </table>
              
            </div>
        </div>
    </div>


	<!-- Modal con los campos de edición-->
	<!--*****************************************************************-->
	<div id="modal-edicion" class="modal fade" tabindex="-1" role="dialog"
		aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modalLabel">Formulario de edición</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="form-data-restaurante">
						<input type="hidden" id="id" name="id" value="" />
						<div class="form-group">
							<label>Nombre:</label>
							<input type="text" id="nombre" name="nombre" size="30" value="" />
						</div>
						<div class="form-group">
							<label>Dirección:</label>
							<input type="text" id="direccion" name="direccion" size="30" value="" />
						</div>
						<div class="form-group">
							<label>Localidad:</label>
							<input type="text" id="localidad" name="localidad" size="30" value="" />
						</div>
						<div class="form-group">
							<label>Puntuación:</label>
							<input type="number" id="puntuacion" name="puntuacion" value="" />
						</div>
						<div class="form-group">
							<label>Votos:</label>
							<input type="number" id="votos" name="votos" value="" />
						</div>
						<div class="form-group">
							<label>Descripción:</label>
							<input type="text" id="descripcion" name="descripcion" value="" />
						</div>

					</form>
				</div>
				<div class="modal-footer">
					<button id="btn-order-post"  onclick="guardarRestaurante()" type="button" class="btn btn-primary">Guardar</button>
					<button id="btn-order-cancel" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Fi del Modal -->

	<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
    
    	// Carga inicial de la lista
    	getLista();
    	
        function getLista() {
            
            fetch("/api/restaurantes")
            .then(result => result.json())
            .then(data => {
                let content = document.querySelector('#contenido');
                content.innerHTML = "";
                
                for(let restaurante of  data){
                  content.innerHTML += `
                  <tr>
                      <th scope="row">${ restaurante.res_id }</th>
                      <td>${ restaurante.res_nombre }</td>
                      <td>${ restaurante.res_direccion }</td>
                      <td>${ restaurante.res_localidad }</td>
                      <td>${ restaurante.res_puntuacion }</td>
                      <td>${ restaurante.res_votaciones }</td>
                      <td>${ restaurante.res_descripcion }</td>
                      <td>
                      	<span data-toggle="modal" data-target="#modal-edicion">
                      		<button onclick="editarRestaurante(${restaurante.res_id})" class="btn btn-success btn-sm" role="button" title="Editar"><i class="fas fa-pencil-alt"></i></button>
                      	</span>
                      	<button onclick="eliminarRestaurante(${restaurante.res_id})" class="btn btn-success btn-sm" title="Eliminar"><i class="fas fa-trash" aria-hidden="true"></i></button>
                     </td>
                  </tr>
                  `;
                }
                
            });
        }
        
       
        
        // inserta nuevo restaurante
        function insertarRestaurante(){
        	
        	let restauranteData = {
                "res_nombre":document.querySelector("#nombre").value,
                "res_direccion":document.querySelector("#direccion").value,
                "res_localidad":document.querySelector("#localidad").value,
                "res_puntuacion":document.querySelector("#puntuacion").value,
                "res_votaciones":document.querySelector("#votos").value,
                "res_descripcion":document.querySelector("#descripcion").value
        	};
			
        	
	     	fetch("/api/restaurantes/",{
	     	    method: 'POST',
	     	    headers: {
	     	      'Accept': 'application/json',
	     	      'Content-Type': 'application/json'
	     	    },
	     	    body:JSON.stringify(restauranteData)
	     	  })
    		.then(response => {
    				
    				response.json()
    				getLista();
    		
    			}
    		
    		) 
    		.then(response => console.log(response))
    		.catch(error => error);

        } 
        
       
        
     	// Edita los datos del restaurante con el id indicado por parámetro
        function modificarRestaurante(){
        	let restauranteData = {
        	   res_id:document.querySelector("#id").value,
               res_nombre:document.querySelector("#nombre").value,
               res_direccion:document.querySelector("#direccion").value,
               res_localidad:document.querySelector("#localidad").value,
               res_puntuacion:document.querySelector("#puntuacion").value,
               res_votaciones:document.querySelector("#votos").value,
               res_descripcion:document.querySelector("#descripcion").value
        	}
			

	     	fetch("/api/restaurantes/",{
	     	    method: 'PUT',
	     	    headers: {
	     	      'Accept': 'application/json',
	     	      'Content-Type': 'application/json'
	     	    },
	     	    body:JSON.stringify(restauranteData)
	     	  })
    		.then(response =>{
    			response.json();
    			getLista();
    		}) 
    		.then(response => console.log(response))
    		.catch(error => error);
        	
        }
     	
        function editarRestaurante(id){
			
        	// Recuperamos datos del restaurante y configuramos los datos en el formulario
	     	fetch("/api/restaurantes/"+id, {method: 'GET'})
    		.then(response => response.json()) 
    		.then(data => {
				document.querySelector("#id").value = data.res_id;
				document.querySelector("#nombre").value = data.res_nombre;
                document.querySelector("#direccion").value = data.res_direccion;
                document.querySelector("#localidad").value = data.res_localidad;
                document.querySelector("#puntuacion").value = data.res_puntuacion;
                document.querySelector("#votos").value = data.res_votaciones;
                document.querySelector("#descripcion").value = data.res_descripcion;
    		})
    		.catch(error => error);

        }
        
     	// Elimina el restaurantesegún id
        function eliminarRestaurante(id){
        	fetch("/api/restaurantes/"+id, {method: 'DELETE'})
        		.then(response => {
        			//response.json();
        			getLista();
        			alert("Restaurante eliminado con éxito");
        			
        			
        		})
        		.then(response => console.log(response))
        		.catch(error => error);
        }
     
        function guardarRestaurante(){
        	const id = document.querySelector("#id").value;
        	console.log(id);
        	if (id=="")
        		insertarRestaurante();
        	else
        		modificaRestaurante(id); 
        	
        	$('#modal-edicion').modal('hide');
        }
        
        function nuevoRestaurante(){
        	document.querySelector("#id").value="";
        	document.querySelector("#form-data-restaurante").reset();
        	$('#modal-edicion').modal('show');
        }
       
        
    
    </script>


</body>

</html>
